#!/system/bin/sh
scripts=$(realpath $0)
scripts_dir=$(dirname ${scripts})
parent_dir=$(dirname ${scripts_dir})

source ${scripts_dir}/settings.ini
chain_name="${bin_box##*/}"

# check iptables_version
iptables_version=$(iptables --version | busybox awk '/^iptables/ {print $2}')
required_version="v1.6.1"
if [ "$(printf '%s\n' "$required_version" "$iptables_version" | sort -V | head -n1)" = "$required_version" ]; then
  IPV="iptables -w 64"
  IP6V="ip6tables -w 64"
else
  IPV="iptables"
  IP6V="ip6tables"
fi

log() {
  export TZ=Asia/Shanghai
  now=$(date +"[%Y-%m-%d %H:%M:%S]")
  case $1 in
    Info)
      [ -t 1 ] && echo -e "\033[1;32m${now} [Info]: $2\033[0m" || echo "${now} [Info]: $2"
      ;;
    Warn)
      [ -t 1 ] && echo -e "\033[1;33m${now} [Warn]: $2\033[0m" || echo "${now} [Warn]: $2"
      ;;
    Error)
      [ -t 1 ] && echo -e "\033[1;31m${now} [Error]: $2\033[0m" || echo "${now} [Error]: $2"
      ;;
    *)
      [ -t 1 ] && echo -e "\033[1;30m${now} [$1]: $2\033[0m" || echo "${now} [$1]: $2"
      ;;
  esac
}

# Function to filter UIDs based on package names
uid_filter() {
[ -f "${scripts_dir}/uids.list" ] && rm "${scripts_dir}/uids.list"
uid=""; uids=()
for package_name in ${package_list[@]}; do
  uid=$(busybox awk -v package="${package_name}" '$1 ~ package {print $2}' /data/system/packages.list)
  [ -n "${uid}" ] && uids+=("${uid}") &&\
  echo "${package_name}: ${uid}" >> ${scripts_dir}/uids.list
done
}

# Function to start the proxy
start_TproxyLink() {
if [ -f "${bin_box}" ]; then
  log Info "---welcome---" > "${scripts_dir}/run.log"
    if pidof ${bin_box} > /dev/null 2>&1; then
        log Info "Close existing processes $(pidof ${bin_box})"
        stop_TproxyLink
        log Info "---restart---" > "${scripts_dir}/run.log"
    fi
  log Info "slot$(getprop ro.boot.slot_suffix)" >> "${scripts_dir}/run.log"
  chmod 755 ${bin_box}
  chown root:net_admin ${bin_box}
  uid_filter
  run_iptables_rules
  run_disable_quic
  ulimit -SHn 1000000
  nohup busybox setuidgid ${box_user}:${box_group} ${bin_box} run -C ${box_confs_dir} -D ${parent_dir}/binary/ > /dev/null 2>&1 &
  chmod 755 ${bin_xray}
  chown root:net_admin ${bin_xray}
  nohup busybox setuidgid ${xray_user}:${xray_group} ${bin_xray} run -confdir ${xray_confs_dir} > /dev/null 2>&1 &
  pid=$(pidof sing-box 2> /dev/null)
  [ -n "${pid}" ] && log Info "add sing-box pid: ${pid}" >> "${scripts_dir}/run.log"
  pid=$(pidof xray 2> /dev/null)
  [ -n "${pid}" ] && log Info "add xray pid: ${pid}" >> "${scripts_dir}/run.log"
  am start -a android.intent.action.VIEW -n com.jozein.xedgepro/.ui.ActivityPerformAction --ei __0 111 --es __1 "代理已开启" > /dev/null 2>&1
  log Info "Create a new process $(pidof ${bin_box})"
  cron_task
else
  log Error "Binary ${bin_box} not found"
  am start -a android.intent.action.VIEW -n com.jozein.xedgepro/.ui.ActivityPerformAction --ei __0 111 --es __1 "${bin_box##*/} not found" > /dev/null 2>&1
  exit 1
fi
}

# Function to stop the proxy
stop_TproxyLink() {
if ! pidof "${bin_box}" > /dev/null 2>&1; then
    exit 1
fi
  log Info "---goodbye---" > "${scripts_dir}/run.log"
  log Info "slot$(getprop ro.boot.slot_suffix)" >> "${scripts_dir}/run.log"
  run_del_iptables_rules > /dev/null 2>&1
  del_disable_quic
  del_task
  pid=$(pidof sing-box 2> /dev/null)
  [ -n "${pid}" ] && log Info "del sing-box pid: ${pid}" >> "${scripts_dir}/run.log"
  pid=$(pidof xray 2> /dev/null)
  [ -n "${pid}" ] && log Info "del xray pid: ${pid}" >> "${scripts_dir}/run.log"
  kill $(pidof sing-box) > /dev/null 2>&1
  kill $(pidof xray) > /dev/null 2>&1
  rm ${scripts_dir}/*.list
  am start -a android.intent.action.VIEW -n com.jozein.xedgepro/.ui.ActivityPerformAction --ei __0 111 --es __1 "代理已关闭" > /dev/null 2>&1
  find "${parent_dir}" -type f -name "*.log" ! -name "run.log" -exec rm -f {} +
}

# Function to create TPROXY rules
iptables_rules() {
${1} rule add fwmark "${fwmark}" table ${2} pref $(( ${2} * 10 ))
${1} route add local default dev lo table ${2}
# Create custom chain
${3} -t mangle -N ${4}_EXTERNAL
${3} -t mangle -F ${4}_EXTERNAL
${3} -t mangle -N ${4}_LOCAL
${3} -t mangle -F ${4}_LOCAL
${3} -t mangle -N DIVERTSV
${3} -t mangle -F DIVERTSV
  
# Create custom chain rules
${3} -t mangle -A ${4}_LOCAL -p udp --dport 53 -j MARK --set-mark ${fwmark}
${3} -t mangle -A ${4}_LOCAL -p tcp --dport 53 -j MARK --set-mark ${fwmark}

${3} -t mangle -A ${4}_EXTERNAL -p udp --dport 53 -j TPROXY --on-port ${tp_port} --tproxy-mark ${fwmark}
${3} -t mangle -A ${4}_EXTERNAL -p tcp --dport 53 -j TPROXY --on-port ${tp_port} --tproxy-mark ${fwmark}
  
for subnet in ${5}; do
  ${3} -t mangle -A ${4}_EXTERNAL -d ${subnet} -j RETURN
  ${3} -t mangle -A ${4}_LOCAL -d ${subnet} -j RETURN
done

${3} -t mangle -A ${4}_EXTERNAL -p tcp -i lo -j TPROXY --on-port ${tp_port} --tproxy-mark ${fwmark}
${3} -t mangle -A ${4}_EXTERNAL -p udp -i lo -j TPROXY --on-port ${tp_port} --tproxy-mark ${fwmark}
  
if [ "${ap_list}" != "" ]; then
  for ap in ${ap_list[@]} ; do
    ${3} -t mangle -A ${4}_EXTERNAL -p tcp -i "${ap}" -j TPROXY --on-port "${tp_port}" --tproxy-mark "${fwmark}"
    ${3} -t mangle -A ${4}_EXTERNAL -p udp -i "${ap}" -j TPROXY --on-port "${tp_port}" --tproxy-mark "${fwmark}"
  done
fi  

case "${proxy_mode}" in
  "blacklist")
    if [ ${#uids[@]} -gt 0 ]; then
      for appid in ${6}; do
        ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${appid} -p tcp -j RETURN
        ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${appid} -p udp ! --dport 53 -j RETURN
      done
      ${3} -t mangle -A ${4}_LOCAL -j MARK --set-mark ${fwmark}
    else
      # When the blacklist array is empty, route all traffic through the proxy.
      ${3} -t mangle -A ${4}_LOCAL -j MARK --set-mark ${fwmark}
    fi
    ;;
  "whitelist")
    if [ ${#uids[@]} -gt 0 ]; then
      for appid in ${6}; do
        ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${appid} -p tcp -j MARK --set-mark ${fwmark}
        ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${appid} -p udp -j MARK --set-mark ${fwmark}
      done
      if [ -n "${AIDs}" ]; then
        for AID in ${AIDs[*]}; do
          ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${AID} -p tcp -j MARK --set-mark ${fwmark}
          ${3} -t mangle -A ${4}_LOCAL -m owner --uid-owner ${AID} -p udp -j MARK --set-mark ${fwmark}
        done
      fi
    else
      # When the whitelist array is empty, route all traffic through the proxy.
      ${3} -t mangle -A ${4}_LOCAL -j MARK --set-mark ${fwmark}
    fi
    ;;
  *)
    log Error "proxy_mode incorrect" >> "${scripts_dir}/run.log"
    ;;
esac

# Loopback prevention rules 1
${3} -t mangle -I ${4}_LOCAL -m owner --gid-owner ${box_group} -j RETURN
${3} -t mangle -I ${4}_LOCAL -m owner --gid-owner ${xray_group} -j RETURN
# Loopback prevention rules 2
${3} -t mangle -A DIVERTSV -j MARK --set-mark "${fwmark}"
${3} -t mangle -A DIVERTSV -j ACCEPT

# Referencing custom chains
${3} -t mangle -A PREROUTING -j ${4}_EXTERNAL
${3} -t mangle -I PREROUTING -p tcp -m socket -j DIVERTSV
${3} -t mangle -A OUTPUT -j ${4}_LOCAL
}

# Function to execute proxy rules
run_iptables_rules() {
iptables_rules ip "${table}" "${IPV}" "${chain_name}" "${intranet[*]}" "${uids[*]}"
log Info "add iptables -4 rules" >> "${scripts_dir}/run.log"
if [ "${ip6tables_switch}" = true ]; then
  iptables_rules "ip -6" "$(( ${table} * 2 ))" "${IP6V}" "${chain_name}6" "${intranet6[*]}" "${uids[*]}"
  log Info "add iptables -6 rules" >> "${scripts_dir}/run.log"
fi
}

# Function to delete proxy rules
del_iptables_rules() {
${1} rule del fwmark "${fwmark}" table ${2} pref $(( ${2} * 10 ))
${1} route del local default dev lo table ${2}
${1} route flush table ${2}
# First, delete the reference chain, otherwise the custom chain cannot be deleted.
${3} -t mangle -D PREROUTING -j ${4}_EXTERNAL
${3} -t mangle -D PREROUTING -p tcp -m socket -j DIVERTSV
${3} -t mangle -D OUTPUT -j ${4}_LOCAL
# Secondly, delete the custom rules of the custom chain.
${3} -t mangle -F ${4}_EXTERNAL
${3} -t mangle -F DIVERTSV
${3} -t mangle -F ${4}_LOCAL
# Finally, delete the custom chain.
${3} -t mangle -X ${4}_EXTERNAL
${3} -t mangle -X DIVERTSV
${3} -t mangle -X ${4}_LOCAL
}

# Function to execute delete proxy rules
run_del_iptables_rules() {
del_iptables_rules ip "${table}" "${IPV}" "${chain_name}"
log Info "del iptables -4 rules" >> "${scripts_dir}/run.log"
if [ "${ip6tables_switch}" = true ]; then
  del_iptables_rules "ip -6" "$(( ${table} * 2 ))" "${IP6V}" "${chain_name}6"
  log Info "del iptables -6 rules" >> "${scripts_dir}/run.log"
fi
}

# Function to create task
cron_task() {
if [ "${crond_task}" = true ]; then
  crontab_file="${scripts_dir}/root"
  if pgrep busybox crond > /dev/null; then
    kill -9 $(pgrep busybox crond)
  fi
  echo '5 0,12 * * * touch /data/adb/modules/TproxyLink/disable && sleep 3 && rm /data/adb/modules/TproxyLink/disable' > ${crontab_file}
  nohup busybox crond -c ${scripts_dir}/ > /dev/null 2>&1 &
  log Info "New task: $(busybox crontab -l -c ${scripts_dir}/)"
else
  log Warn "crond_task is not set to true. No crond task created."
fi
}

# Function to delete task
del_task() {
if pgrep busybox crond > /dev/null; then
  kill -9 $(pgrep busybox crond)
  rm ${scripts_dir}/root > /dev/null 2>&1
fi
}

# disable / enable quic using Iptables rules 
quic="disable"

  # Disable QUIC
disable_quic() {
${1} ${2} OUTPUT -p udp --dport 443 -m owner ! --gid-owner ${box_group} -j REJECT
${1} ${2} OUTPUT -p udp --dport 80 -m owner ! --gid-owner ${box_group} -j REJECT
}

run_disable_quic() {
if [ "${quic}" = "disable" ]; then
  disable_quic "${IPV}" "-A"
  if [ "${ip6tables_switch}" = true ]; then
  disable_quic "${IP6V}" "-A"
  fi
fi
}

del_disable_quic() {
if [ "${quic}" = "disable" ]; then
  disable_quic "${IPV}" "-D"
  if [ "${ip6tables_switch}" = true ]; then
  disable_quic "${IP6V}" "-D"
  fi
fi
}

# version
version() {
version=$(${bin_box} version | head -n 1 | awk '{print $3}')
}

description() {
local symbol=$1
local event=$2
version
prop_file="/data/adb/modules/TproxyLink/module.prop"
core_name="${bin_box##*/}"
current_time=$(date "+[%m.%d %H:%M]")
sed -i "/description/c\description=${current_time} ${symbol} ${core_name} ${version} ${network_mode} ${event}" "${prop_file}"
log Info "${symbol} ${network_mode} ${event}" >> "${scripts_dir}/run.log"
}

# description
run_description() {
if pidof "${bin_box}" > /dev/null 2>&1; then
  description "🤪" "started"
else
  description "🥴" "stopped"
fi
}

case "$1" in
    enable)
        start_TproxyLink
        ;;
    disable)
        stop_TproxyLink
        ;;
    description)
        run_description
        ;;
esac

# TproxyLink.service
